<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Todo</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
<% if(errorMessage.length != 0){ %>
  <div>
    <strong>Warning!</strong> The form contains <%= errorMessage.length %> errors.
  </div>
  <div>
    <ul>
      <% for(let item of errorMessage){ %>
        <li><%= item %></li>
      <% } %>
    </ul>
  </div>
<% } %>
<span><a href="/">TodoApp</a></span>
<% if(isAuth) { %>
  <span><a href="/logout">Logout</a></span>
  <form action="/" method="post">
    <label>タスクの追加</label>
    <input required type="text" name="content" placeholder="何をする?"/>
    <input type="submit" value="追加"/>
  </form>
  <div>
    <% for(let task of tasks){ %>
      <span>
        <%= task.content %>
        <% if(userId === task.user_id) { %>
          <form action="/" method="post">
          <input required type="hidden" name="taskId" value=<%= task.id %>/>
          <input type="submit" value="削除"/>
        </form>
        <% } %>
      </span>
      <br>
    <% } %>
  </div>
<% } else { %>
  <span><a href="/signin">Sign in</a></span>
  <h1>Welcome to the TodoApp</h1>
  <button onclick="location.href='/signup'">Sign up</button>
<% } %>
</body>
</html>